<%= @spotlights.count %>
<% @spotlights.each do |spotlight|%>
	<a href="<%= spotlight.url %>"><div class="img_contents current" id="1" style="background:#1F8496; display:block;">
		<%= image_tag spotlight.image.url(:main), :height => "400px", :width => "500px"%>
		<div class="spotlight_headline"></div>
		<div class="spotlight_text"><%= spotlight.description %></div>
	</div>
	</a>
<% end %>
