<div class="listing">
  <div class="photos">
    <div class="main_photo">
      <img id="Picture19" class="main_photo" src="images/Entertainment/Picture19.png" width="225px" max-height="100%" />
    </div>
    <img id="Picture20" src="images/Entertainment/Picture20.png" height="50px" width="50px" class="listing_thumb"/><img id="Picture" src="images/Entertainment/Picture.png" height="50px" width="50px" class="listing_thumb"/><img id="Picture19" src="images/Entertainment/Picture19.png" height="50px" width="50px" class="listing_thumb"/><img id="Picture17" src="images/Entertainment/Picture17.png" height="50px" width="50px" class="listing_thumb"/>
  </div>
  <div class="listing_info">
  <h1>Some Club</h1>
  Address: 101 Some Place, Chicago, IL <a href="#">Map This!</a><br><br>
  Phone: (312)555-1234<br><br>
  Hours: Sunday-Friday: 8pm-3am, Sat. 8pm-5am<br><br>
  Tags: Good for <a href="#">dancing</a>, <a href="#">karaoke</a>, <a href="#">singles</a><br><br>
  Music: <a href="#">Hip Hop</a>, <a href="#">Electronic</a><br><br>
  Atmosphere: <a href="#">Hipster</a>, <a href="#">Dive</a><br><br>      
  </div>
  <div style="float:left;"">
    <img src="images/google_map.jpeg" width="200px" height="200px" alt="google map"/>
  </div>
  <div class="listing_description" style="clear:both;">
  "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  </div>
  <div class="button green" id="mynotes_add">Add to My Notes</div>
  <hr class="solid_gray clear"/>
  <div class="featured_rev">
    <h2>Staff Review</h2>
    "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  </div>
  <hr class="solid_gray"/>
  <a id="new_review" href="#review_box"><div class="button green">Write a Review</div></a>
  <h2>User Reviews</h2>
  <div id="review_box" style="display:none;"></div>
  <div class="more_reviews clear">
    <div class="review">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt" -User</div>
    <div class="review light_gray">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt" -Another User</div>
  </div>
</div>
 </div>
</div>