<div class="left_menu">
  <ul>
    <li class="selected" id="popular">Popular</li>
    <li id="staff">Staff Picks</li>
    <li id="events">Events</li>
    <li id="hair">Hair Dressers</li>
    <li id="barber">Barber Shops</li>
    <li id="nightlife">Night Life</li>
    <li id="doctors">Doctors</li>
  </ul>
</div>