<div class="footer clear">
	<table class="footer_table">
	  <tr class="heading">
	    <td>Cities</td>
	    <td>Sections</td>
	    <td>Recommendations</td>
	    <td>About Us</td>
	    <td>Subscribe</td>
	  </tr>
	  <tr class="footer_info">
	    <td>
	      <ul>
	        <li>Chicago</li>
	        <li>New York City</li>
	        <li>Washington, DC</li>
	        <li>Atlanta</li>
	        <li>Los Angeles</li>
	        <li>Houston</li>
	      </ul>
	    </td>
	    <td>
	      <ul>
	        <li>Features</li>
	        <li>CityNotes</li>
	        <li>MyNotes</li>
	        <li>Q & A</li>
	        <li>Search</li>
	      </ul>
	     </td>
	    <td>
	      <ul>
	        <li>Hair</li>
	        <li>Restaurants</li>
	        <li>Bars / Clubs</li>
	        <li>Services</li>
	        <li>Trending</li>
	        <li>Staff Picks</li>
	      </ul>
	    </td>
	    <td>
	      <ul>
	        <li>Philosophy</li>
	        <li>Team</li>
	        <li>Contributers</li>
	        <li>Contact Us</li>
	        <li>Suggest a City</li>
	        <li>Privacy</li>
	      </ul>
	    </td>
	    <td>
	      <ul>
	        <li>Join BlkNotes!</li>
	        <li>Subscribe for our Newsletter</li>
	      </ul>
	    </td>
	  </tr>
	</table>
</div>
