 <div class="header">
    <a href="index.html"><div class="logo"><img src="/images/blknotes.png" height="103px" max-width="100%" alt="blknotes" /></div></a>
    <div class="headerForm">
    <form id="header_form">
      <label for="venue"><img src="/images/search.png" height="50px" width="50px" alt="search" style="display: inline-block; vertical-align: middle;"/></label>
      <div style="display: inline-block">
        <input id="venue" name="venue" type="text" placeholder="i.e. Barber Shop, Bar, Club" maxlength="100">
      </div>        
        <select id="city" name="city">
      		<option>Choose a location:</option>
      		<option value="chicago">Chicago</option>
      	</select>
      <input type="submit" value="Search!" class=" button green"/>
    </form>
    </div> 
      <div class="header_action"><p class="htext"><a href="/register">sign up</a> / <a href="login">login</a></p></div>
  </div>