<div class="right_content">
        <div class="call_to_action"><br>
          Join blknotes now!
          <input type="text" maxlength="60"><input type="submit" value="Join!" action="" placeholder="Your E-mail">
        </div><br>
        <div class="ad"><img src="images/banner.jpg" width="300px" height="250px"/></div>
        Find Something to do!<br>
        <i style="font-size:15px;">Pick a date or date range!</i>
        <img src="/images/calendar.png">
</div>