<div class="features">
  <table class="featured_table">
    <tr class="heading">
      <td> Featured Salon/Barber</td>
      <td> Featured Bar</td>
      <td> Restaurant</td>
    </tr>
    <tr class="featured_content">
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </table><br><br>
    <table class="featured_table">
    <tr class="heading">
      <td> Doctor</td>
      <td> Gym</td>
      <td> Staff Pick</td>
    </tr>
    <tr class="featured_content">
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>