<!DOCTYPE html>
<html>
<%= render 'layouts/partials/head'%>
<body>
	<div class="wrapper">
		<div class="content">		
			<div class="main_content">
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>